@inherits LayoutComponentBase

<div class="container__b__0">
    <div class="lang">
        <!--todo: selectLang-->
    </div>
    <div class="content">
        <div class="top">
            <div class="header">
                <a>
                    <img alt="logo" class="logo" src="assets/logo.svg"/>
                    <span class="title">Athena CMS</span>
                </a>
            </div>
            <div class="desc">Project to improve my .NET skills</div>
        </div>
        @Body
    </div>
    <FooterView Copyright="2023 Project Athena" Links="Links"></FooterView>
</div>

@code
{
    public LinkItem[] Links { get; set; } = {
        new()
        {
            Key = "Ant Design Blazor",
            Title = "Powered by Ant Design Blazor",
            Href = "https://antblazor.com",
            BlankTarget = true,
        },
    };
}