@page "/"
@using Athena.Blog.CMS.HttpRepositories

<h3>Dashboard</h3>

@code {

    [Inject]
    public HttpInterceptorService HttpInterceptor { get; set; }

    protected override Task OnInitializedAsync()
    {
        HttpInterceptor.RegisterEvent();
        return base.OnInitializedAsync();
    }

    public void Dispose()
    {
        HttpInterceptor.DisposeEvent();
    }

}